USE SACWISCUY
GO

DELETE FROM SACWISCUY.DBO.CASE_PARTICIPANT_STATUS
WHERE CASE_PARTICIPANT_STATUS_ID IN
(SELECT *
FROM OPENQUERY(ADHOC_SACRPT,'
SELECT 
	CASE_PARTICIPANT_STATUS_ID
FROM SACWIS.CASE_PARTICIPANT_STATUS
WHERE MODIFIED_DATE >= SYSDATE - 7
'))

INSERT INTO SACWISCUY.DBO.CASE_PARTICIPANT_STATUS
SELECT 
CASE_PARTICIPANT_ID
, CASE_PARTICIPANT_STATUS_ID
, CASE_PARTICIPANT_STATUS_CODE
, BEGIN_EFF_DATE
, END_EFF_DATE
, DEACTIVATION_REASON_TEXT
, CREATED_BY
, CREATED_DATE
, MODIFIED_BY
, MODIFIED_DATE
, APP_VERSION_NBR

FROM OPENQUERY(ADHOC_SACRPT,'
SELECT 
CASE_PARTICIPANT_ID
, CASE_PARTICIPANT_STATUS_ID
, CASE_PARTICIPANT_STATUS_CODE
, BEGIN_EFF_DATE
, END_EFF_DATE
, DEACTIVATION_REASON_TEXT
, CREATED_BY
, CREATED_DATE
, MODIFIED_BY
, MODIFIED_DATE
, APP_VERSION_NBR
FROM SACWIS.CASE_PARTICIPANT_STATUS
WHERE MODIFIED_DATE >= SYSDATE - 7
')