<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppConnection_Test" connectionString="Data Source=ms-cuyic-db05\Test;Initial Catalog=WPLTracking;User ID=Cuy_DataLoader;Password=RxtS5#L^R^F53PL+_*$U" />
    <add name="AppConnection_Production" connectionString="Data Source=ms-cuyic-db02;Initial Catalog=WPLTracking;User ID=Cuy_DataLoader;Password=RxtS5#L^R^F53PL+_*$U" />
    <add name="AppConnection_Default" connectionString="Data Source=ms-cuyic-db04\Dev;Initial Catalog=WPLTracking;User ID=Cuy_DataLoader;Password=RxtS5#L^R^F53PL+_*$U" />
  </connectionStrings>

</configuration>