use SacwisCuy
go

truncate table Case_Participant_Status
go

insert into Case_Participant_Status
select 
CASE_PARTICIPANT_ID
, CASE_PARTICIPANT_STATUS_ID
, CASE_PARTICIPANT_STATUS_CODE
, BEGIN_EFF_DATE
, END_EFF_DATE
, DEACTIVATION_REASON_TEXT
, CREATED_BY
, CREATED_DATE
, MODIFIED_BY
, MODIFIED_DATE
, APP_VERSION_NBR

from openquery(adhoc_sacrpt,'
select 
CASE_PARTICIPANT_ID
, CASE_PARTICIPANT_STATUS_ID
, CASE_PARTICIPANT_STATUS_CODE
, BEGIN_EFF_DATE
, END_EFF_DATE
, DEACTIVATION_REASON_TEXT
, CREATED_BY
, CREATED_DATE
, MODIFIED_BY
, MODIFIED_DATE
, APP_VERSION_NBR
from sacwis.Case_Participant_Status
-- where 
')