<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <!-- Can add other sandbox (e.g., UAT) connection info when next needed.  [geg] -->
    <add name="SFConnection_Production" connectionString="UserName=api.integration@jfs.ohio.gov;Password=CuyahogaCounty@@@555;Token=fb1X6XO7inGgrjdozs7f5W9a" />
    
    <add name="SFConnection_Default"    connectionString="UserName=api.integration@jfs.ohio.gov; Password=CuyahogaCounty@@@555; Token=fb1X6XO7inGgrjdozs7f5W9a" />
  </connectionStrings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding" maxReceivedMessageSize = "4000000">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://odjfs2.my.salesforce.com/services/Soap/u/45.0"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="sforce.Soap" name="Soap" />
        </client>
    </system.serviceModel>
</configuration>