<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppConnection_Test" connectionString="Data Source=ms-dcfs-psql1;Initial Catalog=OCSS_SCAS;User ID=Cuy_DataLoader;Password=RxtS5#L^R^F53PL+_*$U" />
    <add name="AppConnection_Production" connectionString="Data Source=ms-dcfs-psql1;Initial Catalog=OCSS_SCAS;User ID=Cuy_DataLoader;Password=RxtS5#L^R^F53PL+_*$U" />
    <add name="AppConnection_Default" connectionString="Data Source=ms-dcfs-psql1;Initial Catalog=OCSS_SCAS;User ID=Cuy_DataLoader;Password=RxtS5#L^R^F53PL+_*$U" />
  </connectionStrings>
</configuration>